@model ChatDashBoardViewModel
@using DuoLegend.DAO
<link href="~/css/chatDashBoard.css" rel="stylesheet" />

<!-- bắt đầu làm tại đây -->

<div class="container-fluid p-0" style="height: 90%; margin-top:-1rem;">
    <div class="row no-gutters" style="height: 100%;">
        <div class="col-md-3 col-2 left-area">
            <div class="row justify-content-between" style="height:5%">
                <h1 class="col-auto ml-4">Chat</h1>
                <div id="updateOnlineList" class="btn btn-danger mx-4 col-auto align-self-center" style="height:100%;" onclick="updateOnlineSate()">Update Online List</div>
            </div>
            <!-- Thanh search danh sách những người đã chat -->
            <div class="search m-4" style="height: 36px;">
                <form>
                    <input class="form-control search-field" id="searchBar" placeholder="Search">
                </form>
            </div>

            <div class="list-chat">
                <!-- Danh sách những người đã từng chat -->
                <ul class="list-contact" id="myList">

                    <!--<a href="#" style="text-decoration: none;">
                    <li class="person myChoose chosen" data-chat="person1">
                        <div class="row justify-content-start align-items-center no-gutters">-->
                    <!-- Avatar -->
                    <!--<div class="user col-auto mr-3">
                        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin" class="avatar">
                        <span class="status busy"></span>
                    </div>-->
                    <!-- Tên và thời gian chat lần cuối -->
                    <!--<p class="name-time col-md-auto col-xs-0">
                                    <span class="name">Steve Bangalter</span>
                                    <br>
                                    <span class="time">15/02/2019</span>
                                </p>
                            </div>
                        </li>
                    </a>-->
                    @if (Model.ListMessageAndUserHaveChatWith != null)
                    {
                        @foreach (var user in Model.ListMessageAndUserHaveChatWith)
                        {
                            <a id='@("id" + user.Key)' asp-controller="Chat" asp-action="ChatDashBoard" asp-route-otherId="@user.Key" style="text-decoration: none;">
                                <li class="@(user.Key == Model.UserOtherId ? "person myChoose chosen" : "person myChoose" ) mx-2" data-chat="person1">
                                    <div class="row justify-content-start align-items-center no-gutters">

                                        @*Tên và thời gian chat lần cuối*@
                                        <div class="name-time col-md-auto col-xs-0 ml-5">
                                            <div class="row">
                                                <span class="name col-auto pr-0">@UserDAO.getInGameNameServerById(user.Key)[0]</span>
                                                <img id='@("state" + user.Key)' src="@Model.UserOtherAvatarPath" alt="Retail Admin" class="user-status avatarState col-auto align-self-center p-0 mx-3">
                                            </div>
                                            <span class="time @("content" + user.Key)">
                                                @(user.Value.SendFrom == Model.UserSelfId ? "You:" : string.Empty ) @if (user.Value.Content.Length > 45)
                                                {@user.Value.Content.Substring(0, 45)<text>...</text>}
                                            else
                                            { @user.Value.Content}
                                            </span><br>
                                            <span class="time @("content" + user.Key) ">@DuoLegend.Service.TimeProcess.HowLongSince(@user.Value.TimeSend)[0]</span>
                                            <span class="time @("content" + user.Key) ">@DuoLegend.Service.TimeProcess.HowLongSince(@user.Value.TimeSend)[1]</span>
                                        </div>
                                    </div>
                                </li>
                            </a>
                        }
                    }

                </ul>
            </div>
        </div>

        <div class="col-md-9 col-10" style="height: 100%;">
            <!-- Tên và avatar của người hiện tại đang chat -->
            <div class="selected-user">
                <div class="contact-profile row justify-content-start no-gutters align-items-center">
                    <div class="col-auto mr-3">
                        <img src="@Model.UserOtherAvatarPath" alt="contact avatar" class="avatar">
                    </div>
                    <div class="col-auto">
                        @if (Model.ListMessageAndUserHaveChatWith != null)
                        {
                            string[] routeInfor = UserDAO.getInGameNameServerById(Model.UserOtherId);
                            <a asp-controller="Profile" asp-action="Index" asp-route-inGameName="@routeInfor[0]" asp-route-server="@routeInfor[1]" class="contact-name">@UserDAO.getInGameNameServerById(Model.UserOtherId)[0]</a>
                        }
                    </div>
                </div>
            </div>

            <!-- Nội dung chat -->
            <div class="content p-2" id="messagesList">
                <div id="loadOldMessage" class="btn btn-info" style=" margin: 0 auto; display: block; width: 9vw;">View more message</div>
            </div>

            <!-- Ô nhập tin nhắn và nút gửi tin nhắn -->
            <form>
                <input id="sender" value="@Model.UserSelfId" disabled style="display: none">
                <input id="receiver" value="@Model.UserOtherId" disabled style="display: none">
                <div class="form-group input mt-2 ml-5 mb-0 row">
                    <input id="messageInput" class="form-control input-field col-md-11 col-10"
                           placeholder="Type your message...">
                    <button class="send-button col-md-1 col-1" type="button" id="sendButton">
                        <i class="bi bi-cursor-fill"
                           style="color: #0084ff; font-size: 2rem;"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<button class="btn btn-primary" data-toggle="modal" data-target="#example" id="openChatButton" hidden>Chat</button>
<input id="UserSelfAvatarPath" value="@Model.UserSelfAvatarPath" disabled hidden>
<input id="UserOtherAvatarPath" value="@Model.UserOtherAvatarPath" disabled hidden>
@if (Model.ListMessageAndUserHaveChatWith != null)
{
    @foreach (var user in Model.ListMessageAndUserHaveChatWith)
    {
        <input class="UserIdArray" value="@user.Key" disabled hidden />
    }
}
<script src="~/js/ChatDashBoard.js"></script>
