@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "User Management";
}
@model IEnumerable<UserListViewModel>

<script type="text/javascript">
    var deleteFail = @ViewBag.deleteFail!= null;
    if (deleteFail) {
        window.onload = function () {
            alert("@ViewBag.deleteFail");
        };
    }
</script>

@foreach (var user in Model)
{
    <div class="modal fade" id='@("delete"+user.UserID)'>
        <partial name="_DeleteUser" model="user" />
    </div>
}


<!--Main content body-->
<div class="col-11 my-table">
    <table id="example" class="table table-hover table-dark table-bordered">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Ingame Name</th>
                <th>Server</th>
                <th>Facebook</th>
                <th>Verified</th>
                <th>Deleted</th>
                <th>Ban For</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                var now = DateTime.Now.Date;
                <tr>
                    <th>@user.UserID</th>
                    <td>@user.Email</td>
                    <td>@user.InGameName</td>
                    <td>@user.Server</td>
                    <td style="text-align:center">
                        <a href="@user.FacebookLink" class="bi bi-facebook" style="font-size:2rem;"></a>
                    </td>
                    <td style="text-align:center">
                        @if (user.IsVerified == 1)
                        {<i class="bi bi-check-square-fill success-status"></i>}
                        else
                        { <i class="bi bi-x-square-fill fail-status"></i>}
                    </td>
                    <td style="text-align:center">
                        @if (user.IsDeleted == 1)
                        {<i class="bi bi-check-square-fill success-status"></i>}
                        else
                        { <i class="bi bi-x-square-fill fail-status"></i>}
                    </td>
                    <td style="text-align:center">
                        @if (user.ExpirationDate == null)
                        {
                            <span>0 day</span>
                        }
                        else
                        {
                            var dayBan = (((DateTime)user.ExpirationDate).Date - now).TotalDays;
                            @dayBan if (dayBan > 1){<span> days</span>} else{ <span> day</span>}
                        }
                    </td>
                    <td style="text-align:center" width="12%">
                        <a asp-controller="AdminManagement" asp-action="BanUser" class="btn btn-warning my-button"
                           asp-route-id="@user.UserID" disabled="@(user.IsDeleted == 1)">Ban User</a>
                    </td>
                    <td style="text-align:center" width="12%">
                        <button class="btn btn-danger delete-button" data-toggle="modal"
                                data-target='@("#delete"+user.UserID)' disabled="@(user.IsDeleted == 1)">
                            Delete User
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
