@model DuoLegend.ViewModels.MainPageViewModel
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@
<script type="text/javascript">
    const { Alert } = require("bootstrap");

    function Choosing(previewPic) {
        previewPic.style.backgroundColor = "#dc3545";

    }
    function removeOtherChoosing(previewPic) {
        var x = document.getElementsByClassName(previewPic.className);
        if (previewPic.className == 'playPurposeOption') {
            for (i = 0; i < x.length; i++) {
                x[i].style.backgroundColor = "#3835dc7a";
            }
        } else {
            for (i = 0; i < x.length; i++) {
                x[i].style.backgroundColor = "inherit";
            }
        }
    }
    function focusSearchResult() {
        var elmnt = document.getElementById("searchResult");
        elmnt.scrollIntoView();
    }
</script>
<link href="~/css/ThoMainPagestyle.css" rel="stylesheet" />
<form class="modal fade" id="example">
    <div class="modal-dialog">
        <!--Mọi thứ của modal(popup) sẽ nằm ở trong element có class "modal-content"-->
        <div class="modal-content">
            <!--Đây là cái cục header của modal(popup)-->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <!--%times; là character entity cho dấu "x" (hay còn gọi là cái cục đóng bên góc phải phía trên cùng ấy)-->
                    <span>&times;</span>
                </button>
            </div>
            <!--Đây là phần body của modal-->
            <!--Đây sẽ là phần mình để những ngôi sao để cho người ta click vào-->
            <div class="modal-body">
                You need to login to use this feature
            </div>
            <!--Đây là phần footer của modal-->
            <div class="modal-footer">
                <button style="width: 5vw; font-size: 1.25vw;text-align: center; padding-left: 0; padding-right: 0" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a style="width: 5vw; font-size: 1.25vw;text-align: center; padding-left: 0; padding-right: 0" href="Account/RedirectLoginPage" type="button" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</form>

<form class="modal fade" id="test">
    <div class="modal-dialog">
        <!--Mọi thứ của modal(popup) sẽ nằm ở trong element có class "modal-content"-->
        <div class="modal-content">
            <!--Đây là cái cục header của modal(popup)-->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <!--%times; là character entity cho dấu "x" (hay còn gọi là cái cục đóng bên góc phải phía trên cùng ấy)-->

                </button>
            </div>
            <!--Đây là phần body của modal-->
            <!--Đây sẽ là phần mình để những ngôi sao để cho người ta click vào-->
            <div class="modal-body">

                <center><div style="width: 10vw; height: 10vw" class="spinner-border text-success"></div></center>
                <center><H3 id="txtSearching">SEARCHING PLEASE WAIT...</H3></center>
            </div>
            <!--Đây là phần footer của modal-->
        </div>
    </div>
</form>

<div class="backContainer">
    <form asp-method="post" asp-controller="Home" asp-action="Search" id="Form">


        <center>
            <div class="searchBar">
                <fieldset id="laneOption">
                    <center><h3>Choose duo's lane</h3></center>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary btn-sm" title="Top lane">
                            <img src="~/img/Lane/Top.png">
                            <input type="radio"  id="option1" value="Top" asp-for="search.Lane" checked>
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Jungle lane">
                            <img src="~/img/Lane/Jungle.png">
                            <input type="radio" id="option2" value="Jung" asp-for="search.Lane" >
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Mid lane">
                            <img src="~/img/Lane/Mid.png">
                            <input type="radio"  id="option3" value="Mid" asp-for="search.Lane" >
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Bottom lane">
                            <img src="~/img/Lane/ADC.png">
                            <input type="radio"  id="option1" value="ADC" asp-for="search.Lane" >
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Support lane">
                            <img src="~/img/Lane/Support.png">
                            <input type="radio"  id="option2" value="Support" asp-for="search.Lane" >
                        </label>
                    </div>
                </fieldset>

            </div>
        </center>



        <center>
            <div class="searchBar">
                <fieldset id="rankOption">
                    <center><h3>Choose duo's rank</h3></center>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary btn-sm" title="Iron">
                            <img src="~/img/Rank/ironIcon.png">
                            <input type="radio"  id="option1" value="IRON" asp-for="search.Rank" checked>
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Bronze">
                            <img src="~/img/Rank/bronzeIcon.png">
                            <input type="radio"  id="option2" value="BRONZE" asp-for="search.Rank">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Silver">
                            <img src="~/img/Rank/silverIcon.png">
                            <input type="radio"  id="option3" value="SILVER" asp-for="search.Rank">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Gold">
                            <img src="~/img/Rank/goldIcon.png">
                            <input type="radio"  id="option1" value="GOLD" asp-for="search.Rank">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Platinum">
                            <img src="~/img/Rank/platinumIcon.png">
                            <input type="radio"  id="option2" value="PLATINUM" asp-for="search.Rank">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Diamond">
                            <img src="~/img/Rank/diamondIcon.png">
                            <input type="radio"  id="option3" value="DIAMOND" asp-for="search.Rank">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Master">
                            <img src="~/img/Rank/masterIcon.png">
                            <input type="radio"  id="option3" value="MASTER" asp-for="search.Rank">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Grand Master">
                            <img src="~/img/Rank/grandMasterIcon.png">
                            <input type="radio"  id="option3" value="GRANDMASTER"  asp-for="search.Rank">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Challenger">
                            <img src="~/img/Rank/challengerIcon.png">
                            <input type="radio"  id="option3" value="CHALLENGER" asp-for="search.Rank">
                        </label>
                    </div>
                </fieldset>

            </div>
        </center>


        <center>
            <div class="searchBar">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary btn-lg btnPlayStyle btn-grad2">
                        <input type="radio"  id="option1" value="win" asp-for="search.Purpose" checked> Win is matter
                    </label>
                    <label class="btn btn-secondary btn-lg btnPlayStyle btn-grad2" style="border-style: none none none solid;border-color: #3835dc;">
                        <input type="radio"  id="option2" value="fun" asp-for="search.Purpose"> Fun is matter
                    </label>
                </div>
            </div>
        </center>

        <div class="searchBar" style="display:inline-block;">
            <h3 style="margin-left: 5vw; font-size: 1vw;">Server</h3>
            <select asp-for="search.Server">
                <option>KR</option>
                <option>EUN1</option>
                <option>EUW1</option>
                <option>JP1</option>
                <option>BR1</option>
                <option>LA1</option>
                <option>LA2</option>
                <OPTION>NA1</OPTION>
                <OPTION>OC1</OPTION>
                <option>RU</option>
                <option>TR1</option>
            </select>
        </div>



        <!-- cái nút Find chính -->
        <div class="searchBar">
            <center>
                @if (ViewBag.isLogin)
                {
                    @*<label data-toggle="modal" data-target="#test" for="submit"><p style="margin-left: 0vw; margin-bottom: 0vw;">Find your Duo</p></label>
                        <input type="submit" name="" id="submit" style="display: none;">*@
                    <button name="" value="Find your Duo" class="buttons btn-grad" data-toggle="modal" data-target="#test"><i class="bi bi-search"></i>Find your Duo</button>

                }
                else
                {
                    <button data-toggle="modal" data-target="#example" class="buttons btn-grad" type="button"><i class="bi bi-search"></i>Find your Duo</button>

                }
            </center>
        </div>

    </form>







    <br>
    <table id="searchResult">
        <tr>
            <th>Summoner</th>
            <th>Lane</th>
            <th>Rank</th>
            <th>Latest play</th>
            <th>Win Rate</th>
            <th>KDA</th>
            <th>Note</th>
            <th>Mic</th>
        </tr>
        @{for (int i = 0; i < Model.InGameName.Length; i++)
            {
                @if(Model.InGameName[i] is null)
                {
                    break;
                }
                <tr>
                    <td><a asp-controller="Profile" asp-action="Index" asp-route-inGameName="@Model.InGameName[i]" asp-route-server="@Model.Server[i]">@Model.InGameName[i]</a></td>
                    <td>
                        @{
                            switch (@Model.Lane[i])
                            {
                                case "Top":
                                    <img src="~/img/Lane/Top.png">
                                    break;
                                case "Jungle":
                                    <img src="~/img/Lane/Jungle.png">
                                    break;
                                case "Mid":
                                    <img src="~/img/Lane/Mid.png">
                                    break;
                                case "ADC":
                                    <img src="~/img/Lane/ADC.png">
                                    break;
                                case "Support":
                                    <img src="~/img/Lane/Support.png">
                                    break;
                            }
                        }
                    </td>
                    @*<td><img src="img/challengerIcon.png"></td>*@
                    <td>
                        @{
                            switch (@Model.Rank[i])
                            {
                                case "IRON":
                                    <img src="~/img/Rank/ironIcon.png">
                                    break;
                                case "BRONZE":
                                    <img src="~/img/Rank/BronzeIcon.png">
                                    break;
                                case "SILVER":
                                    <img src="~/img/Rank/silverIcon.png">
                                    break;
                                case "GOLD":
                                    <img src="~/img/Rank/goldIcon.png">
                                    break;
                                case "PLATINUM":
                                    <img src="~/img/Rank/platinumIcon.png">
                                    break;
                                case "MASTER":
                                    <img src="~/img/Rank/masterIcon.png">
                                    break;
                                case "GRANDMASTER":
                                    <img src="~/img/Rank/grandMasterIcon.png">
                                    break;
                                case "DIAMOND":
                                    <img src="~/img/Rank/diamondIcon.png">
                                    break;
                                case "CHALLENGER":
                                    <img src="~/img/Rank/challengerIcon.png">
                                    break;
                                case "prod":

                                    break;
                                default:
                                    <p>Unranked</p>
                                    break;
                            }
                        }
                    </td>
                    <td>
                        @{for (int j = 0; j < 3; j++)
                            {
                                if (Model.ListUserInfor[i] is null) { }
                                else
                                {
                                    <p>@Model.ListUserInfor[i].champName[j]</p>
                                }
                            }

                        }


                    </td>
                    <td>
                        @if (Model.ListUserInfor[i] is null) { }
                        else
                        {
                            <p>@Model.ListUserInfor[i].WinRate</p>
                        }

                    </td>
                    <td>
                        @if (Model.ListUserInfor[i] is null) { }
                        else
                        {
                            <p>@Model.ListUserInfor[i].Kill</p>
                            <p>@Model.ListUserInfor[i].Death</p>
                            <p>@Model.ListUserInfor[i].Assist</p>
                        }
                    </td>
                    <td>@Model.Note[i]</td>
                    @if (Model.HasMic[i])
                    {
                        <td><i class="bi bi-mic"></i></td>
                    }
                    else
                    {
                        <td><i class="bi bi-mic-mute"></i></td>
                    }
                </tr>
            }
        }
    </table>
</div>

