@model DuoLegend.ViewModels.MainPageViewModel
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    const { Alert } = require("bootstrap");

    function Choosing(previewPic) {
        previewPic.style.backgroundColor = "#dc3545";

    }
    function removeOtherChoosing(previewPic) {
        var x = document.getElementsByClassName(previewPic.className);
        if (previewPic.className == 'playPurposeOption') {
            for (i = 0; i < x.length; i++) {
                x[i].style.backgroundColor = "#3835dc7a";
            }
        } else {
            for (i = 0; i < x.length; i++) {
                x[i].style.backgroundColor = "inherit";
            }
        }
    }
    function focusSearchResult() {
        var elmnt = document.getElementById("searchResult");
        elmnt.scrollIntoView();
    }
</script>
<link href="~/css/ThoMainPagestyle.css" rel="stylesheet" />
<form class="modal fade" id="example">
    <div class="modal-dialog">
        <!--Mọi thứ của modal(popup) sẽ nằm ở trong element có class "modal-content"-->
        <div class="modal-content">
            <!--Đây là cái cục header của modal(popup)-->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <!--%times; là character entity cho dấu "x" (hay còn gọi là cái cục đóng bên góc phải phía trên cùng ấy)-->
                    <span>&times;</span>
                </button>
            </div>
            <!--Đây là phần body của modal-->
            <!--Đây sẽ là phần mình để những ngôi sao để cho người ta click vào-->
            <div class="modal-body">
                You need to login to use this feature
            </div>
            <!--Đây là phần footer của modal-->
            <div class="modal-footer">
                <button style="width: 5vw; font-size: 1.25vw;text-align: center; padding-left: 0; padding-right: 0" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a style="width: 5vw; font-size: 1.25vw;text-align: center; padding-left: 0; padding-right: 0" href="Account/RedirectLoginPage" type="button" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</form>

<form class="modal fade" id="test">
    <div class="modal-dialog">
        <!--Mọi thứ của modal(popup) sẽ nằm ở trong element có class "modal-content"-->
        <div class="modal-content">
            <!--Đây là cái cục header của modal(popup)-->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <!--%times; là character entity cho dấu "x" (hay còn gọi là cái cục đóng bên góc phải phía trên cùng ấy)-->

                </button>
            </div>
            <!--Đây là phần body của modal-->
            <!--Đây sẽ là phần mình để những ngôi sao để cho người ta click vào-->
            <div class="modal-body">

                <center><div style="width: 10vw; height: 10vw" class="spinner-border text-success"></div></center>
                <center><H3 id="txtSearching">SEARCHING PLEASE WAIT...</H3></center>
            </div>
            <!--Đây là phần footer của modal-->
        </div>
    </div>
</form>

<div class="backContainer">
    <form asp-method="post" asp-controller="Home" asp-action="Search" id="Form">


        <center>
            <div class="searchBar">
                <fieldset id="laneOption">
                    <center><h3>Choose duo's lane</h3></center>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary btn-sm" title="Top lane">
                            <img src="~/img/Top_icon.png">
                            <input type="radio" name="laneOption" id="option1">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Jungle lane">
                            <img src="~/img/Jung_icon.png">
                            <input type="radio" name="laneOption" id="option2">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Mid lane">
                            <img src="~/img/Mid_icon.png">
                            <input type="radio" name="laneOption" id="option3">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Bottom lane">
                            <img src="~/img/Bot_icon.png">
                            <input type="radio" name="laneOption" id="option1">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Support lane">
                            <img src="~/img/Sup_icon.png">
                            <input type="radio" name="laneOption" id="option2">
                        </label>
                    </div>
                </fieldset>

            </div>
        </center>



        <center>
            <div class="searchBar">
                <fieldset id="rankOption">
                    <center><h3>Choose duo's rank</h3></center>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary btn-sm" title="Iron">
                            <img src="~/img/ironIcon.png">
                            <input type="radio" name="rankOption" id="option1">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Bronze">
                            <img src="~/img/bronzeIcon.png">
                            <input type="radio" name="rankOption" id="option2">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Silver">
                            <img src="~/img/silverIcon.png">
                            <input type="radio" name="rankOption" id="option3">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Gold">
                            <img src="~/img/goldIcon.png">
                            <input type="radio" name="rankOption" id="option1">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Platinum">
                            <img src="~/img/platinumIcon.png">
                            <input type="radio" name="rankOption" id="option2">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Diamond">
                            <img src="~/img/diamondIcon.png">
                            <input type="radio" name="rankOption" id="option3">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Master">
                            <img src="~/img/masterIcon.png">
                            <input type="radio" name="rankOption" id="option3">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Grand Master">
                            <img src="~/img/grandMasterIcon.png">
                            <input type="radio" name="rankOption" id="option3">
                        </label>
                        <label class="btn btn-secondary btn-sm" title="Challenger">
                            <img src="~/img/challengerIcon.png">
                            <input type="radio" name="rankOption" id="option3">
                        </label>
                    </div>
                </fieldset>

            </div>
        </center>


        <center>
            <div class="searchBar">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary btn-lg btnPlayStyle">
                        <input type="radio" name="playPurposeOption" id="option1"> Win is matter
                    </label>
                    <label class="btn btn-secondary btn-lg btnPlayStyle" style="border-style: none none none solid;border-color: #3835dc;">
                        <input type="radio" name="playPurposeOption" id="option2"> Fun is matter
                    </label>
                </div>
            </div>
        </center>

        <div class="searchBar" style="display:inline-block;">
            <h3 style="margin-left: 5vw; font-size: 1vw;">Server</h3>
            <select asp-for="search.Server">
                <option>KR</option>
                <option>EUN1</option>
                <option>EUW1</option>
                <option>JP1</option>
                <option>BR1</option>
                <option>LA1</option>
                <option>LA2</option>
                <OPTION>NA1</OPTION>
                <OPTION>OC1</OPTION>
                <option>RU</option>
                <option>TR1</option>
            </select>
        </div>



        <!-- cái nút Find chính -->
        <div class="searchBar">
            <center>
                @if (ViewBag.isLogin)
                {
                    @*<label data-toggle="modal" data-target="#test" for="submit"><p style="margin-left: 0vw; margin-bottom: 0vw;">Find your Duo</p></label>
                        <input type="submit" name="" id="submit" style="display: none;">*@
                    <button name="" value="Find your Duo" class="buttons" data-toggle="modal" data-target="#test"><i class="bi bi-search"></i>Find your Duo</button>

                }
                else
                {
                    <button data-toggle="modal" data-target="#example" class="buttons" type="button"><i class="bi bi-search"></i>Find your Duo</button>

                }
            </center>
        </div>

    </form>







    <br>
    <table id="searchResult">
        <tr>
            <th>Summoner</th>
            <th>Lane</th>
            <th>Rank</th>
            <th>Latest play</th>
            <th>Win Rate</th>
            <th>KDA</th>
            <th>Note</th>
            <th>Mic</th>
        </tr>
        @{for (int i = 0; i < Model.InGameName.Length; i++)
            {
                @if(Model.InGameName[i] is null)
                {
                    break;
                }
                <tr>
                    <td><a asp-controller="Profile" asp-action="Index" asp-route-inGameName="@Model.InGameName[i]" asp-route-server="@Model.Server[i]">@Model.InGameName[i]</a></td>
                    <td><img src="~/img/Mid_icon.png"></td>
                    @*<td><img src="img/challengerIcon.png"></td>*@
                    <td>
                        @{
                            switch (@Model.Rank[i])
                            {
                                case "IRON":
                                    <img src="~/img/ironIcon.png">
                                    break;
                                case "BRONZE":
                                    <img src="~/img/BronzeIcon.png">
                                    break;
                                case "SILVER":
                                    <img src="~/img/silverIcon.png">
                                    break;
                                case "GOLD":
                                    <img src="~/img/goldIcon.png">
                                    break;
                                case "PLATINUM":
                                    <img src="~/img/platinumIcon.png">
                                    break;
                                case "MASTER":
                                    <img src="~/img/masterIcon.png">
                                    break;
                                case "GRANDMASTER":
                                    <img src="~/img/grandMasterIcon.png">
                                    break;
                                case "DIAMOND":
                                    <img src="~/img/diamondIcon.png">
                                    break;
                                case "CHALLENGER":
                                    <img src="~/img/challengerIcon.png">
                                    break;
                                case "prod":

                                    break;
                                default:
                                    <p>unranked</p>
                                    break;
                            }
                        }
                    </td>
                    <td>
                        @{for (int j = 0; j < 3; j++)
                            {
                                if (Model.ListUserInfor[i] is null) { }
                                else
                                {
                                    <p>@Model.ListUserInfor[i].champName[j]</p>
                                }
                            }

                        }


                    </td>
                    <td>
                        @if (Model.ListUserInfor[i] is null) { }
                        else
                        {
                            <p>@Model.ListUserInfor[i].WinRate</p>
                        }

                    </td>
                    <td>
                        @if (Model.ListUserInfor[i] is null) { }
                        else
                        {
                            <p>@Model.ListUserInfor[i].Kill</p>
                            <p>@Model.ListUserInfor[i].Death</p>
                            <p>@Model.ListUserInfor[i].Assist</p>
                        }
                    </td>
                    <td>@Model.Note[i]</td>
                    @if (Model.HasMic[i])
                    {
                        <td>yes</td>
                    }
                    else
                    {
                        <td>no</td>
                    }
                </tr>
            }
        }
    </table>
</div>

